@model IEnumerable<FirstApplication.Models.Employee>
@{
    ViewBag.Title = "Employee";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/d4a8770686.js"></script>
<div class="container">
    <div class="row">
        <!--If model or ViewBag distinct of null-->
        @if (ViewBag != null)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Departament</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Add Model (Employee)-->
                    @*replace for ViewBag*@
                    @*foreach (var item in Model)*@
                    <!--ViewBag-->
                    @*@foreach (var item in ViewBag.EmployeeList)*@
                    <!--ViewData Requeres typecasting-->
                    @foreach (var item in ViewData["EmployeeList"] as List<FirstApplication.Models.Employee>)
                    {
                        <tr>
                            <td>@item.EmployeeId</td>
                            <td>@item.Name</td>
                            <td>@item.Departament</td>
                        </tr>
                    }
                </tbody>
            </table>
            <ul class="list-group">
                <li class="list-group-item">
                    Your <strong class="label label-info">ViewBag</strong> Value is : <strong>@ViewBag.EmployeeNameVB</strong>
                </li>
                <li class="list-group-item">
                    Your <strong class="label label-danger">ViewData</strong> Value is : <strong>@ViewData["EmployeeNameVD"]</strong>
                </li>
                <li class="list-group-item">
                    Your <strong class="label label-primary">TempData</strong> Value is : <strong>@TempData["EmployeeNameTD"]</strong>
                </li>
            </ul>
        }
        else
        {
            <div class="alert alert-danger @ViewBag.ErrorCss">
                <button type="button" class="close" data-dismiss="alert">Close</button>
                @ViewBag.Error
            </div>
        }
        <div class="row">
            <div class="modal-footer">
                <a href="/Test/Index/" class="btn btn-default  pull-left"><i class="fa fa-arrow-circle-left"></i>&nbsp;Back</a>
                <a href="/Employee/SecondPageEmployee" class="btn btn-success"><i class="fa fa-users"></i>&nbsp;Second Employee</a>
            </div>
        </div>

    </div>
</div>
