@{
    ViewBag.Title = "Index";
    //We dont need Layout
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/d4a8770686.js"></script>
<div class="container">
    <div class="row">
        @if (Model!= null)
        {
            <table class="table table-striped">
                <tr>
                    <th>Employee Id</th>
                    <th>Name</th>
                    <th>Departament Id</th>
                    <th>Address</th>
                </tr>
                <tbody>
                  
                        <tr>
                            <td>@Model.EmployeeId</td>
                            <td>@Model.Name</td>
                            <td>@Model.DepartamentId</td>
                            <td>@Model.Address</td>
                        </tr>
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger @ViewBag.ErrorCss">
                <button type="button" class="close" data-dismiss="alert">Close</button>
                @ViewBag.Error
            </div>
        }
    </div>
</div>